html,
body {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

div,
header,
main,
footer {
	box-sizing: border-box;
}

// sass-lint:disable-all
[class*="__menu"] {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}
// sass-lint:enable-all

//icons
[class*="icon-"] {
	display: block;
	margin: 0 auto;

	@media (min-width: $breakpoints-sm) {
		display: inline-block;
	}
}

.clearfix {
	@include clearfix;
}
