.container {
	// sass-lint:disable-all
	height: auto !important;
	height: 100%;
	// sass-lint:enable-all
	margin: 0 auto -391px;
	min-height: 100%;
	padding: 0 0 391px;

	@media (min-width: $breakpoints-sm) {
		margin: 0 auto -319px;
		padding: 0 0 319px;
	}

	.ticket {
		margin: 0 auto;
		max-width: 1514px;

		&__cards {
			display: block;
			margin-bottom: 40px;
		}

		&__card {
			background-color: $base-gray-3;
			box-shadow: 0 0 18px 0 $black-transparent-20;
			display: block;
			margin: 0 auto 31px;
			text-align: center;
			width: 325px;

			@media (min-width: $breakpoints-md) {
				display: inline-block;
				float: left;
				margin: 0 8px;
				max-width: 25%;
				width: calc(25% - 16px);
			}

			&__inner {
				padding-top: 20px;

				&__title {
					color: $base-blue;
					font-size: 19px;
					font-weight: bold;
					text-transform: uppercase;
				}

				&__price {
					color: $base-blue;
					font-size: 37px;
					font-weight: 900;
					margin-bottom: 18px;
				}

				&__info {
					color: $base-gray-4;
					font-size: 14px;
					line-height: 14px;
					margin-bottom: 8px;
				}

				&__date {
					color: $base-blue;
					margin-bottom: 24px;
				}
			}

			&__button {
				@include transition(all $transition-duration ease);
				background-color: $base-blue;
				border: 1px solid $base-blue;
				box-sizing: border-box;
				color: $white;
				display: block;
				font-weight: 900;
				line-height: 50px;
				text-transform: uppercase;
				width: 100%;

				&:hover {
					opacity: .3;
				}
			}

		}

		.special-offer {
			&__title {
				color: $base-red;
				text-transform: uppercase;
			}

			.ticket {
				&__card {
					&__button {
						background-color: $base-red;
						border: 1px solid $base-red;

						&:hover {
							opacity: .3;
						}
					}
				}
			}
		}

		&__buttons {
			margin-bottom: 72px;
			text-align: center;
		}

		&__button {
			@include transition(all $transition-duration ease);
			background: transparent;
			border: 1px solid $base-blue;
			box-shadow: none;
			color: $base-blue;
			display: inline-block;
			font-weight: bold;
			line-height: 45px;
			margin: 0 auto;
			padding: 0 38px;
			text-transform: uppercase;

			&:hover {
				background: $base-blue;
				box-shadow: 0 0 18px 0 $black-transparent-20;
				color: $white;
			}
		}
	}

	.trusted-partners {
		text-align: center;

		&__title {
			color: $base-gray-4;
			margin-bottom: 38px;
			text-align: center;
			text-transform: uppercase;
		}

		&__logos {
			display: inline-block;
			margin-bottom: 66px;
			text-align: center;

			img {

				padding: 10px 5px 0;


				@media (min-width: $breakpoints-sm) {
					padding: 10px 16px 0;
				}

				@media (min-width: $breakpoints-lg) {
					padding: 10px 18px;
				}
			}
		}
	}
}
