.footer {
	background-color: $base-gray-1;
	color: $white;

	a {
		color: $white;
	}

	&__logo {
		img {
			max-width: 100%;
		}
	}

	&__bottom {
		display: block;

		&__items {
			text-align: center;

			&__item {
				display: inline-block;
			}
		}
	}
}
