.trusted-partners {
	text-align: center;

	&__title {
		color: $base-gray-4;
		margin-bottom: 38px;
		text-align: center;
		text-transform: uppercase;
	}

	&__logos {
		display: inline-block;
		margin-bottom: 66px;
		text-align: center;

		img {

			padding: 10px 5px 0;


			@media (min-width: $breakpoints-sm) {
				padding: 10px 16px 0;
			}

			@media (min-width: $breakpoints-lg) {
				padding: 10px 18px;
			}
		}
	}
}
