//fonts
// sass-lint:disable-all
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
// sass-lint:enable-all

//colors
$white: #fff;
$black: #000;
$black-transparent-20: rgba(0, 0, 0, .2);
$black-transparent-10: rgba(0, 0, 0, .1);

$base-blue: #18a8e1;
$base-red: #f03;

$base-gray-1: #2c292a;
$base-gray-2: #999;
$base-gray-3: #f8f8f8;
$base-gray-4: #ccc;

//breakpoints
$breakpoints-lg: 1200px;
$breakpoints-md: 992px;
$breakpoints-sm: 768px;
$breakpoints-xs: 576px;

// Animation
$transition-duration: .3s;
