// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bulb-hover-name: 'bulb-hover';
$bulb-hover-x: 93px;
$bulb-hover-y: 44px;
$bulb-hover-offset-x: -93px;
$bulb-hover-offset-y: -44px;
$bulb-hover-width: 13px;
$bulb-hover-height: 21px;
$bulb-hover-total-width: 117px;
$bulb-hover-total-height: 111px;
$bulb-hover-image: '../../dist/images/spritesheet.png';
$bulb-hover: (93px, 44px, -93px, -44px, 13px, 21px, 117px, 111px, '../../dist/images/spritesheet.png', 'bulb-hover', );
$bulb-name: 'bulb';
$bulb-x: 0px;
$bulb-y: 90px;
$bulb-offset-x: 0px;
$bulb-offset-y: -90px;
$bulb-width: 13px;
$bulb-height: 21px;
$bulb-total-width: 117px;
$bulb-total-height: 111px;
$bulb-image: '../../dist/images/spritesheet.png';
$bulb: (0px, 90px, 0px, -90px, 13px, 21px, 117px, 111px, '../../dist/images/spritesheet.png', 'bulb', );
$clock-name: 'clock';
$clock-x: 0px;
$clock-y: 0px;
$clock-offset-x: 0px;
$clock-offset-y: 0px;
$clock-width: 26px;
$clock-height: 26px;
$clock-total-width: 117px;
$clock-total-height: 111px;
$clock-image: '../../dist/images/spritesheet.png';
$clock: (0px, 0px, 0px, 0px, 26px, 26px, 117px, 111px, '../../dist/images/spritesheet.png', 'clock', );
$crosshair-hover-name: 'crosshair-hover';
$crosshair-hover-x: 47px;
$crosshair-hover-y: 46px;
$crosshair-hover-offset-x: -47px;
$crosshair-hover-offset-y: -46px;
$crosshair-hover-width: 24px;
$crosshair-hover-height: 24px;
$crosshair-hover-total-width: 117px;
$crosshair-hover-total-height: 111px;
$crosshair-hover-image: '../../dist/images/spritesheet.png';
$crosshair-hover: (47px, 46px, -47px, -46px, 24px, 24px, 117px, 111px, '../../dist/images/spritesheet.png', 'crosshair-hover', );
$crosshair-name: 'crosshair';
$crosshair-x: 93px;
$crosshair-y: 0px;
$crosshair-offset-x: -93px;
$crosshair-offset-y: 0px;
$crosshair-width: 24px;
$crosshair-height: 24px;
$crosshair-total-width: 117px;
$crosshair-total-height: 111px;
$crosshair-image: '../../dist/images/spritesheet.png';
$crosshair: (93px, 0px, -93px, 0px, 24px, 24px, 117px, 111px, '../../dist/images/spritesheet.png', 'crosshair', );
$user-hover-name: 'user-hover';
$user-hover-x: 33px;
$user-hover-y: 90px;
$user-hover-offset-x: -33px;
$user-hover-offset-y: -90px;
$user-hover-width: 11px;
$user-hover-height: 19px;
$user-hover-total-width: 117px;
$user-hover-total-height: 111px;
$user-hover-image: '../../dist/images/spritesheet.png';
$user-hover: (33px, 90px, -33px, -90px, 11px, 19px, 117px, 111px, '../../dist/images/spritesheet.png', 'user-hover', );
$user-name: 'user';
$user-x: 64px;
$user-y: 90px;
$user-offset-x: -64px;
$user-offset-y: -90px;
$user-width: 11px;
$user-height: 19px;
$user-total-width: 117px;
$user-total-height: 111px;
$user-image: '../../dist/images/spritesheet.png';
$user: (64px, 90px, -64px, -90px, 11px, 19px, 117px, 111px, '../../dist/images/spritesheet.png', 'user', );
$users-hover-name: 'users-hover';
$users-hover-x: 46px;
$users-hover-y: 0px;
$users-hover-offset-x: -46px;
$users-hover-offset-y: 0px;
$users-hover-width: 27px;
$users-hover-height: 24px;
$users-hover-total-width: 117px;
$users-hover-total-height: 111px;
$users-hover-image: '../../dist/images/spritesheet.png';
$users-hover: (46px, 0px, -46px, 0px, 27px, 24px, 117px, 111px, '../../dist/images/spritesheet.png', 'users-hover', );
$users-name: 'users';
$users-x: 0px;
$users-y: 46px;
$users-offset-x: 0px;
$users-offset-y: -46px;
$users-width: 27px;
$users-height: 24px;
$users-total-width: 117px;
$users-total-height: 111px;
$users-image: '../../dist/images/spritesheet.png';
$users: (0px, 46px, 0px, -46px, 27px, 24px, 117px, 111px, '../../dist/images/spritesheet.png', 'users', );
$spritesheet-width: 117px;
$spritesheet-height: 111px;
$spritesheet-image: '../../dist/images/spritesheet.png';
$spritesheet-sprites: ($bulb-hover, $bulb, $clock, $crosshair-hover, $crosshair, $user-hover, $user, $users-hover, $users, );
$spritesheet: (117px, 111px, '../../dist/images/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
